{% assign study_catalog_items = site.study | where: "course", include.course | sort: "order" %}

{% include branch-search.html collection="study" course=include.course %}

<ul class="post-list content-catalog-list">
  {% for study in study_catalog_items %}
    <li class="post-card content-card">
      <a class="branch-card-link" data-label="{{ study.title | escape }}" href="{{ study.url | relative_url | escape }}">{{ study.title | escape }}</a>
      <p>{{ study.topic | escape }}</p>
      {% include content-taxonomy.html item=study mode="compact" %}
    </li>
  {% endfor %}
</ul>
